<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Map</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />

  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <!-- <script src="node_modules/angular-google-maps/angular-google-maps.js"></script> -->
  <script src="../static/js/my_app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDtWkCxBMVrziS_hxagImZumHnMvTsfZcw",
      authDomain: "map-project-a7a77.firebaseapp.com",
      databaseURL: "https://map-project-a7a77.firebaseio.com",
      storageBucket: "map-project-a7a77.appspot.com",
      messagingSenderId: "731219849819"
    };
    firebase.initializeApp(config);
  </script>
</head>
<body>
  <div ng-controller="myController">
    <div>
      <nav class="col-sm-12 text-right" id="user-nav">
        <a href="/logout">Log out</a>
        <a href="/user">My Account</a>
        <a href="/signup">Sign Up</a>
      </nav><br>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 main-column">
        <br>
        <h3>Welcome. You are Logged In as <%= username %></h3>

        <div id="map"></div>
        <div id="sidebar">
          <h3>My Locations</h3>
          <hr>
	  <form method="POST" action="user/update/">
          <h4><input type="text"><button>Add new</button></h4>
          <hr>
	  </form>
          <div ng-repeat="location in locations">
            <h4>{{location.name}}</h4>
            <hr>
          </div>
        </div>
        <script></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtWkCxBMVrziS_hxagImZumHnMvTsfZcw&callback=initMap"
        async defer></script>

      </div>
    </div>
  </div>
</body>
</html>
