body {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 56px;
  font-family: 'Francois One', sans-serif;
}

h2 {
  font-size: 40px;
  font-family: 'Francois One', sans-serif;
}

.row p, .row input {
  line-height: 32px;
  height: 32px;
  margin: 0 0 10px;
}

.row input {
  width: 300px;
}

.main-column {
  background-color: #cccccc;
  min-height: 1000px;
}

#map {
 height: 700px;
 width: 70%;
 float: left;
}

#sidebar {
  min-height: 700px;
  background-color: #dbdbdb;
  width: 30%;
  float: left;
  padding: 0 12px 0 12px;
}

#user-nav {
  width: 100%;
  margin:0;
  padding:0;
  background-color: #414141;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 60px;
  vertical-align: middle;
}

nav {
  padding: 20px;
  vertical-align: middle;
  margin-right: 80px;
}

nav a {
  padding: 4px 20px 24px 20px;
  vertical-align: middle;
}

nav a, nav a:visited, nav a:active {
  text-decoration: none;
  color: #f2f2f2;
}

nav a:hover {
  text-decoration: none;
  background-color: #003333;
  color: #f2f2f2;
}

input[type=submit]{
  /*font: 18px bold;
  width: 120px;
  color:white;  background:blue;
  margin-top:15px;
  margin-left:85px;*/
}
